.u-visibility-hidden {
    visibility: hidden;
    display: none;
}

.u-text-align-center {
    text-align: center;
}

.u-spinner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;   
}