body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Breakpoints
$xs1: 	0;
$sm1: 	600px;
$md1: 	960px;
$lg1: 	1280px;
$xl1: 	1920px;

// $tablet: $sm1;
// $desktop: $md1;
// $wide: $lg1;

$xsmall: $xs1;
$xsmall-max: 599px;
$small: $sm1;
$small-max: 959px;
$medium: $md1;
$medium-max: 1279px;
$large: $lg1;
$large-max: 1919px;
$xlarge: $xl1;
// $xlarge: $xl1;

@mixin responsive-max($width) {
	@media only screen and (max-width : $width - 1) { 
		@content;
	}
}

@mixin responsive-min($width) {
	@media only screen and (min-width : $width) { 
		@content;
	}
}

@mixin responsive-between($start, $end) {
	@media only screen and (min-width : $start) and (max-width: $end) { 
		@content;
	}
}

* {
	box-sizing: border-box; 
}

body {
    // background-color: #f0f0f0;
    // font-family: sans-serif;
    // line-height: 1.4;
    // padding: 40px 20px;
    // position: relative;
    
    &:before {
        padding: 10px 20px;
        color:#aaa;
        position: absolute;
        
        top: 0;
        left: 0;
        content: "XSmall";
        
    }
    
    @include responsive-between($small, $small-max) {
        &:before {
            content: "Small";
        }
    }
        @include responsive-between($medium, $medium-max) {
            &:before {
            content: "Medium";
        }
    }
        @include responsive-between($large, $large-max) {
            &:before {
            content: "Large";
            }
    }
        @include responsive-min($xlarge) {
            &:before {
            content: "XLarge";
        }
    }
}


.container {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 300px;
}

.app {
    margin: 0 auto;
}
.header {
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.c-day {
    display: block;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
    padding: 15px 0;

    background-color: #e7e7e7;

    dl {
        dd {
            margin-bottom: 10px;
        }
    }
    

    .c-day__head {
        // padding: 20px;
        // margin-right: 20px;
        text-align: center;

        img {
            width: 140px;
            height: 140px;
        }
    }

    .notice {
        color: #559ef1;
        font-style: italic;
        font-weight: bold;
        font-size: 85%;
    }

    .a-temp {
        font-weight: bold;
    }
    .a-temp--cold {
        color: blue;
    }
    .a-temp--average {
        color: green;
    }
    .a-temp--hot {
        color: red;
    }
}

// @include responsive-min($small) {
//     .c-day\@small {
//         background-color: #c00;
//     }
// }
// @include responsive-min($medium) {
//     .c-day\@medium {
//         background-color: #0c0;
//     }
// }

.l-panels {
    grid-gap: 20px;
}

@include responsive-min($small){
    .l-panels\@small {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
    }
}

@include responsive-min($medium){
    .l-panels\@medium {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@include responsive-min($large){
    .l-panels\@large {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.u-visibility-hidden {
    visibility: hidden;
    display: none;
}

.u-spinner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;   
}


.u-text-align-center {
    text-align: center;
}

.c-controls {

    form {
        display: inline-block;
        margin-bottom: 0;
    }

    .form-inline .form-group {
        margin: 0 10px 10px;
    }
    
    .c-controls__inputs,
    .c-controls__actions {
        display: flex;
        justify-content: center;
    }

    .c-controls__actions {
        button {
            margin: 0 10px;
        }
    }

    .c-controls__alert {
        margin: 15px 0 0;
    }

    .c-controls__input--country {
        width: 80px!important;
    }

}
