// Breakpoints
$xs1: 	0;
$sm1: 	600px;
$md1: 	960px;
$lg1: 	1280px;
$xl1: 	1920px;

// $tablet: $sm1;
// $desktop: $md1;
// $wide: $lg1;

$xsmall: $xs1;
$xsmall-max: 599px;
$small: $sm1;
$small-max: 959px;
$medium: $md1;
$medium-max: 1279px;
$large: $lg1;
$large-max: 1919px;
$xlarge: $xl1;
// $xlarge: $xl1;